flow.js
[{"id":"85d9a91d.185dc8","type":"group","z":"944b6c69.f6c37","name":"Sample light control with persistent state","style":{"stroke":"#92d04f","label":true},"nodes":["9dc9d8ef.52a8d8","41f6a91a.f84b38","5a0bd445.604ecc","a45b1326.2628e","fb315551.f53348","c16a45c2.054088","791cd727.88ef18"],"x":54,"y":59,"w":652,"h":182},{"id":"9dc9d8ef.52a8d8","type":"function","z":"944b6c69.f6c37","g":"85d9a91d.185dc8","name":"UI-state light","func":"// Node configuration (I wish these could be set in the admin UI)\nlet name = \"light\" // name of state variable\nlet namespace = \"d-mini\" // socket.io namespace == uibuilder node URL \n\nlet ui_state = global.get(namespace, 'persistent') || {}\nui_state[name] = msg.payload\nglobal.set(namespace, ui_state, 'persistent')\n\nmsg.topic = name;\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Node configuration (I wish these could be set in the admin UI)\nlet name = \"light\" // name of state variable\nlet namespace = \"d-mini\" // socket.io namespace == uibuilder node URL \n\n/*\nreturn new Promise(function(resolve, reject) {\n    setTimeout(function() {\n        let ui_state = global.get(namespace, 'persistent') || {}\n        let value = ui_state[name]\n        if (value !== undefined)\n            node.send({ topic: name, payload: value})\n        //node.warn(\"OnStart resolving\")\n        resolve()\n    }, 100)\n    //node.warn(\"OnStart done\")\n})\n*/","finalize":"","libs":[],"x":370,"y":120,"wires":[["41f6a91a.f84b38","791cd727.88ef18"]]},{"id":"41f6a91a.f84b38","type":"debug","z":"944b6c69.f6c37","g":"85d9a91d.185dc8","name":"light control","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":120,"wires":[]},{"id":"5a0bd445.604ecc","type":"inject","z":"944b6c69.f6c37","g":"85d9a91d.185dc8","name":"light on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":150,"y":100,"wires":[["9dc9d8ef.52a8d8"]]},{"id":"a45b1326.2628e","type":"inject","z":"944b6c69.f6c37","g":"85d9a91d.185dc8","name":"light off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":150,"y":140,"wires":[["9dc9d8ef.52a8d8"]]},{"id":"fb315551.f53348","type":"link in","z":"944b6c69.f6c37","g":"85d9a91d.185dc8","name":"ui input","links":["b4a0241e.cc6a48"],"x":150,"y":200,"wires":[["c16a45c2.054088"]],"l":true},{"id":"c16a45c2.054088","type":"switch","z":"944b6c69.f6c37","g":"85d9a91d.185dc8","name":"topic==light","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"light","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":310,"y":200,"wires":[["9dc9d8ef.52a8d8"]]},{"id":"791cd727.88ef18","type":"link out","z":"944b6c69.f6c37","g":"85d9a91d.185dc8","name":"ui output","links":["b6479f5d.8427d"],"x":580,"y":160,"wires":[],"l":true},{"id":"f3d9c004.8c09b","type":"group","z":"944b6c69.f6c37","name":"socket.io connection to web browser","style":{"label":true},"nodes":["648fdb18.d0c9d4","f8fe2b8d.0c37e8","b4a0241e.cc6a48","b6479f5d.8427d","381a7452.61522c"],"x":54,"y":339,"w":652,"h":162},{"id":"648fdb18.d0c9d4","type":"uibuilder","z":"944b6c69.f6c37","g":"f3d9c004.8c09b","name":"d-mini","topic":"","url":"d-mini","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":false,"showfolder":false,"useSecurity":false,"sessionLength":432000,"tokenAutoExtend":false,"oldUrl":"d-demo","x":350,"y":380,"wires":[["b4a0241e.cc6a48"],["f8fe2b8d.0c37e8","381a7452.61522c"]]},{"id":"f8fe2b8d.0c37e8","type":"function","z":"944b6c69.f6c37","g":"f3d9c004.8c09b","name":"UI-init","func":"// Node configuration (I wish these could be set in the admin UI)\nlet namespace = \"d-mini\" // socket.io namespace == uibuilder node URL \n\nif (msg.from === \"client\" && msg.cacheControl === \"REPLAY\") {\n    // a new UI client is ready, send the initial UI state\n    let ui_state = global.get(namespace, 'persistent')\n    let msgs = []\n    Object.getOwnPropertyNames(ui_state).forEach(function(k) {\n        msgs.push({ topic: k, payload: ui_state[k], _socketId: msg._socketId })\n    })\n    return [msgs];\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"let namespace = \"d-mini\"\n\nif (global.get(namespace, 'persistent') === undefined)\n    global.set(namespace, {}, 'persistent')","finalize":"","libs":[],"x":350,"y":460,"wires":[["648fdb18.d0c9d4","381a7452.61522c"]]},{"id":"b4a0241e.cc6a48","type":"link out","z":"944b6c69.f6c37","g":"f3d9c004.8c09b","name":"ui input bcast","links":["fb315551.f53348"],"x":570,"y":380,"wires":[],"l":true},{"id":"b6479f5d.8427d","type":"link in","z":"944b6c69.f6c37","g":"f3d9c004.8c09b","name":"ui update","links":["791cd727.88ef18"],"x":140,"y":380,"wires":[["648fdb18.d0c9d4"]],"l":true},{"id":"381a7452.61522c","type":"debug","z":"944b6c69.f6c37","g":"f3d9c004.8c09b","name":"init messages","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":460,"wires":[]}]
